html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Card section */
.card {
    background-image: linear-gradient(to left, yellow, orange);
    color: rgb(3, 3, 106);
    border: solid 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 3px 8px 5px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    background: url(assets/notepad.jpg);
    background-size: 100% auto;
    opacity: 0.8;
    

}

.btn btn-primary {
    align-items: center;
}

